/* General setup */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: 'Noto Serif';
  line-height: 1.5;
  letter-spacing: 0.06em;
  /*font-size: 12pt; DEFAULT SIZE */
}


/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

section {
  text-indent: 2rem;
}

a[href^='http']::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;

  background-size: 100%;
  background-image: url("../images/icons8-external-link-26.png");
}

/* nav */

nav {
  li{
    border: solid 2px;
    border-color:#aa6666;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-family: 'Noto Sans';
    list-style-type: none;
    font-weight: bold;
    background: #d1a924;
    text-align: center;
    
    a{
      flex: 1;
      text-decoration: none;
      outline-color: transparent;
      text-align: center;
      line-height: 3;
    }

    a:hover{
      color: #d1a924;
    }
  }
  li:hover{
  background: #aa6666;
  a{
    color: #d1a924;
  }
  }
}

a {
  color:#aa6666;
}

a:hover,
a:focus {
  color:#982323;
  text-decoration: none;
  outline: none;
}

/* header and footer */

h1,
h2 {
    font-family: 'Noto Sans';
    letter-spacing: 0.06em;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

